.name 
{
  font-size: 25px;
}

p {
  
 font-size: 12px;
  
}




ul {
  font-size 10px;
}
body {
  font-family: "Roboto Mono";
  margin: 5% 5%;
  
}

.main-header {
  border-style: outset;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: gray;
}

.container:hover .overlay {
  opacity: .85;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
}
